{% extends 'body.html' %}

{% block content %}
  <center>
    <h1>{{ session.username }} Sistemde kayıtlı adresleriniz.</h1>
  </center>
  <table class="table table-striped table-light">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">adres adı Adı</th>
        <th scope="col">adress</th>
        <th scope="col">Açık adress</th>
        <th scope="col">Güncelle</th>
        <th scope="col">sil</th>
      </tr>
    </thead>
    <tbody>
      {% for address_list in address_lists %}
        <tr>
          <th scope="row">{{ address_list.id }}</th>
          <td>{{ address_list.title }}</td>
          <td>{{ address_list.name }}</td>
          <td>{{ address_list.open_address }}</td>
          <td>
            <a href="/address_update/{{ address_list.id }}" class="btn btn-info" role="button">Güncelle</a>
          </td>
          <td>
            <a href="/address_delete/{{ address_list.id }}" class="btn btn-warning" role="button">Sil</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="/profile/address_add" class="btn btn-info" role="button">Adres Ekle</a>
{% endblock %}
