<footer class="mt-auto bg-light text-dark pt-4 pb-4 border-top">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-3">
                <h5>Hakkımızda</h5>
                <p>Türkiye'nin her yerine en iyi ürünleri ulaştırmaya adanmış bir platformuz.</p>
            </div>

            <div class="col-md-3 mb-3">
                <h5>Hızlı Bağlantılar</h5>
                <ul class="list-unstyled">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/index">
                            <i class="bi bi-house"></i> Ana Sayfa
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/about">
                            <i class="bi bi-info-circle"></i> Hakkımızda
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/sss">
                            <i class="bi bi-envelope"></i> İletişim
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/sss">
                            <i class="bi bi-shield-lock"></i> Gizlilik Politikası
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3 mb-3">
                <h5>İletişim</h5>
                <ul class="list-unstyled">
                    <li><i class="bi bi-geo-alt-fill"></i> Örnek Mahallesi, Örnek Sokak No: 123, Örnek Şehir</li>
                    <li><i class="bi bi-telephone-fill"></i> +90 5XX XXX XX XX</li>
                    <li><i class="bi bi-envelope-fill"></i> destek@ornekE-ticaret.com</li>
                </ul>
            </div>

            <div class="col-md-3 mb-3">
                <h5>Bizi Takip Edin</h5>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100006379896929" class="text-black" target="_blank" ><i class="bi bi-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://x.com/_fahriaydn" class="text-black" target="_blank"><i class="bi bi-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/_fahriaydn/" class="text-black" target="_blank"><i class="bi bi-instagram"></i></a></li>
                </ul>
            </div>
        </div>

        <hr class="bg-dark">

        <div class="row">
            <div class="col-md-12 text-center">
                <p class="mb-0 text-muted">&copy; 2025 Örnek E-ticaret. Tüm hakları saklıdır.</p>
            </div>
        </div>
    </div>
</footer>