{% extends 'body.html' %} {% block content %} {% from
'includes/_formhelpers.html' import render_field %}
<center>
  <div class="card shadow-lg w-100" style="max-width: 480px">
    <div class="card-body">
      <div class="text-center">
        <h1 class="card-title h3">Giriş yap</h1>
        <p class="card-text text-muted">
          girş yapmak için hesap bilgilerinizi giriniz
        </p>
      </div>
      <div class="mt-4">
        <form method="post">
          <div class="mb-4">
            {{ render_field(form.username, class="form-control",
            placeholder="Kullanıcı adınızı giriniz") }}
          </div>
          <div class="mb-4">
            {{ render_field(form.password, class="form-control",
            placeholder="Parolanızı girin") }}
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-dark btn-lg">Sign in</button>
          </div>
          <p class="text-center text-muted mt-4">
            Hesabın yoksa  sitemize aşağıdaki linkten kaydolabilirsin.<br/>
            <a href="/register" class="text-decoration-none">Kayıt ol</a>.
          </p>
        </form>
      </div>
    </div>
  </div>
</center>
{% endblock %}
